.footer {
  background-color: #252525;
  height: fit-content;
  padding-block: 30px;

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__logo {
    width: 25%;
    color: #e1e1e1;
    font-family: "Manrope";
    font-weight: 300;
    font-size: 14px;
    span {
      text-decoration: underline;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 5px;

    color: #e1e1e1;
    font-family: "Manrope";
    p {
      font-weight: 400;
    }
    h3 {
      font-weight: 500;
    }
  }

  &__services {
    display: flex;
    flex-direction: column;
    gap: 5px;

    color: #e1e1e1;
    font-family: "Manrope";
    h3 {
      font-weight: 500;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 5px;

    color: #e1e1e1;
    font-family: "Manrope";
    h3 {
      font-weight: 500;
    }
  }
  &__icons {
    color: #c3c3c3;
    font-size: 20px;
    display: flex;
    gap: 5px;
  }
}
